
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/Site.css"/>
    <title>@ViewBag.Title</title>
    @RenderSection("Header")
</head>
<body>
    @RenderBody()
</body>
</html>
