
<!DOCTYPE html>

<html>
    <head>
        <script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="~/Content/Css/Site.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        @RenderSection("Header")
    </head>
    <body>
        <div id="main">
            @RenderBody()
        </div>
    </body>
</html>
