@model FundTracker.Web.ViewModels.Builders.CreateRecurringChangeViewModel

@{
    ViewBag.Title = "Create a recurring change";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{}
<h2>Create a recurring change for <strong>@Model.WalletName</strong></h2>

<form method="POST" action="@Model.FormAction" class="new-change">
    <input type="hidden" name="walletName" value="@Model.WalletName" />
    <input type="hidden" name="date" value="@Model.SelectedDate"/>
    <label for="amount">Enter a value to deposit:</label>
    <input type="text" name="amount" min="0" class="amount" />
    <label for="changeName">Enter a brief description:</label>
    <input type="text" name="changeName" class="name" />
    <label for="recurranceType">Repeat:</label>
    <select name="recurranceType" class="rule">
        <option value="OneShot" selected="selected">Just today</option>
        <option value="WeeklyRule">Once a week</option>
        <option value="DailyRule">Every day</option>
    </select>
    <input type="submit" class="submit" />
</form>

@section Footer
{}