@model FundTracker.Web.ViewModels.Builders.CreateRecurringChangeViewModel

@{
    ViewBag.Title = "Create a recurring change";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{}
<h2>Create a recurring withdrawal from <strong>@Model.WalletName</strong></h2>

<form method="POST" action="/RecurringChange/AddNewWithdrawal">
    <input type="hidden" name="walletName" min="0" value="@Model.WalletName" />
    <input type="hidden" name="date" value="@Model.SelectedDate" />
    <label for="amount">Enter a value to withdraw</label>
    <input type="number" name="amount" class="withdrawal-amount" />
    <input type="text" name="changeName" class="withdrawal-name" />
    <select name="recurranceRule" class="withdrawal-rule">
        <option value="Just today" selected="selected">Just today</option>
        <option value="Every week">Once a week</option>
        <option value="Every day">Every day</option>
    </select>
    <input type="submit" class="withdrawal-submit" />
</form>