@model FundTracker.Web.ViewModels.RecurringChangeListViewModel

@{
    ViewBag.Title = "Changes";
    Layout = "~/Views/_Layout.cshtml";
}

@section Header
{}

<h2>Changes</h2>
<ul>
    @foreach (var changeName in Model.RecurringChangeViewModels)
    {
        <li>@changeName</li>
    }
</ul>