@model FundTracker.Web.ViewModels.RecurringChangeListViewModel

@{
    ViewBag.Title = "Changes";
    Layout = "~/Views/_Layout.cshtml";
}

@section Header
{}

<h2>Changes on @Model.Date.ToString("dd MMM yyyy")</h2>
<table class="changes">
    <thead><tr ><td colspan="2">Deposits</td></tr></thead>
    @foreach (var change in Model.RecurringChangeViewModels.Where(change => change.Amount > 0))
    {
        <tr>
            <td >@change.Name</td>
            <td >£@change.Amount</td>
        </tr>
    }
</table>
<table class="changes">
    <thead><tr><td colspan="2">Withdrawals</td></tr></thead>
    @if (!Model.RecurringChangeViewModels.Any(change => change.Amount < 0))
    {
        <tr><td colspan="2">No withdrawals on this day</td></tr>
    }
    @foreach (var change in Model.RecurringChangeViewModels.Where(change => change.Amount < 0))
    {
        var invertedAmount = 0 - change.Amount;
        <tr>
            <td>@change.Name</td>
            <td>£@invertedAmount</td>
        </tr>
    }
</table>