@model dynamic

@{
    ViewBag.Title = "Fund Tracker";
    Layout = "~/Views/_Layout.cshtml";
}

@section Header
{
}

<h2>Fund Tracker</h2>

<form method="POST" action="/Wallet/Create" >
    <input type="submit" />
</form>
