@model dynamic

@{
    ViewBag.Title = "Fund Tracker";
    Layout = "~/Views/_Layout.cshtml";
}

@section Header
{
}

<h2>Fund Tracker</h2>

<div id="container">
    <div id="create-a-wallet">
        <form method="POST" action="/Wallet/SuccessfullyCreated" >
            <label for="submit">Click the shiny button to create a wallet!</label>
            <div id="cl"/>
            <input type="submit" value="Create Me"name="submit"/>
        </form>
    </div>
</div>