body
{

    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

h2{margin-bottom: 20px;}

#main{width: 1024px; margin: auto;}

@media(max-device-width: 1023px) {
    #main{ width: 800px;}
}
@media(max-device-width: 800px) {
    #main{ width: 300px;}
}

.container{float: left;border: 1px solid #C8C8C8;padding: 5px;border-radius: 5px;}

.wallet-name-panel {float: left;background: #EAEAEA;padding: 15px;width: 258px;}
    .wallet-name-panel label { float: left;font-weight: bold;padding-bottom: 10px;}
    .wallet-name-panel input { float: left;width: 100%;}
    .wallet-name-panel input.button { padding: 10px 0;}
    .wallet-name-panel .submit-label { margin-top: 30px;}
    .wallet-name-panel .error-text {float: left;color: red;}

#find-a-wallet { float: right;}

@media(max-device-width: 800px) {
    #find-a-wallet{ float: left; margin-top: 30px;}
}

    
#created { float: left;width: 100%;text-align: center;}
#created span { float: left;}
#created a { float: left;margin-top: 30px;}





#calendar {margin: auto;width: 1024px;padding: 0;list-style: none;}
    #calendar .month {float: left;width: 100%;font-size: 1.5em;text-align: center;}
    #calendar .day{ float: left;width: 2.2%;text-align: center;text-decoration: none;background: #EAEAEA;color: black;border: 1px solid #C8C8C8;}
            #calendar .current-month.day:hover{ background: #b8b8b8;cursor: pointer;}
        #calendar .current-month.day.selected{ font-weight: bold;background: #b8b8b8;}
            #calendar a.current-month.day.selected:hover{background: #b8b8b8;cursor: default;}
        #calendar .other-month{float: left;padding: 0 15px;background: #EAEAEA;border: 1px solid #C8C8C8;text-decoration: none;color: black;cursor: pointer; }
            #calendar .other-month:visited{ color: black; }
            #calendar .other-month:hover{ background: #b8b8b8;cursor: pointer; }
            
#calendar .mobile { display: none;}
#calendar .tablet { display: none;}
            
#calendar .tablet{ float: left;width: 70%;}
#calendar .tablet strong{ float: left;padding: 10px;width: 68px;background: #EAEAEA;border: 1px solid #C8C8C8;text-align: center;text-decoration: none;text-align: center;color: black;}
    #calendar .tablet a{ float: left;padding: 10px;width: 38%;background: #EAEAEA;border: 1px solid #C8C8C8;text-align: center;text-decoration: none;color: black;cursor: pointer;}

#calendar .mobile{ float: left;width: 100%;background: red;}
#calendar .mobile strong{ float: left;padding: 10px 5px;width: 14px;background: #EAEAEA;border: 1px solid #C8C8C8;text-decoration: none;text-align: center;color: black;}
    #calendar .mobile a{ float: left;padding: 10px 5px;width: 65px;background: #EAEAEA;border: 1px solid #C8C8C8;text-align: center;text-decoration: none;color: black;cursor: pointer;}
    #calendar .mobile a.day{ width:48px}
    
    
@media(max-device-width: 1023px) {
    #calendar{ width: 800px;}
    #calendar .dekstop{ display: none;}
    #calendar .tablet{ display:block;}
    #calendar .other-month{ padding: 10px;}
}
@media(max-device-width: 800px) {
    #calendar{ width: 300px;margin: 0;}
    #calendar .mobile{ display:block;}
    #calendar .tablet{ display: none;}
    #calendar .other-month{ padding: 10px 5px;}
}
    
.wallet-info { width: 1024px;margin: 25px auto; }
    .wallet-info .funds div { float: left;}
    .wallet-info .funds a { float: left;}
    
    .wallet-info .funds .available-funds {width: 200px;padding: 60px 45px;background: #EAEAEA;border: 1px solid #C8C8C8;border-left: dashed #C8C8C8;border-right: dashed #C8C8C8;text-align: center;text-decoration: none;color: black;}
    .wallet-info .funds .available-funds:hover {background: #b8b8b8;}
        
    .wallet-info .funds .recurring{width: 118px;padding: 60px 0 60px 5px;background: #EAEAEA;border: 1px solid #C8C8C8;color: black;text-decoration: none;}
        .wallet-info .funds .recurring:hover{ background: #b8b8b8;}

    .wallet-info .funds .recurring.deposit{ border-right: dashed #C8C8C8;}
    .wallet-info .funds .recurring.withdrawal{padding: 60px 5px 60px 0;border-left: dashed #C8C8C8;text-align: right;}
        
    .wallet-info .recurring-amount {width: 235px;margin-top: 28px;text-align: center;background-color: #FFE6E6;border-image: url("../Images/red-arrows.png") 32 0 round;border-top: 32px solid;border-bottom: 32px solid;border-left: 0;border-right: 0;color: black;text-decoration: none;}
        .wallet-info .recurring-amount.deposit {background-color: #E2FFCC;border-image: url("../Images/green-arrows.png") 32 0 round;}
        .wallet-info .recurring-amount.limited {width: 5%;margin-top: 1.5%;}

@media(min-device-width: 1024px) {
    .wallet-info .recurring-amount.limited { display: none;}
}
@media(max-device-width: 1023px) {
    .wallet-info { width: 100%; }
        .wallet-info .recurring-amount{ display: none;}
        .wallet-info .recurring-amount.limited { display: inherit;}
}
@media(max-device-width: 800px) {
    .wallet-info .funds .available-funds{width: 100%;margin: 30px 0;padding: 10px 0;border: 1px solid #C8C8C8;border-radius: 25px;color: black;text-decoration: none;}
    .wallet-info .funds .available-funds:visited{color: black;text-decoration: none;}
    
    .wallet-info .recurring-amount.limited {display: none}
    .wallet-info .funds .recurring.deposit { display: block;width: 134px;padding: 10px 82px;background-color: #E2FFCC;border: 1px solid #C1CFB6;border-radius: 25px;text-align: center;}
    .wallet-info .funds .recurring.withdrawal { display: block;width: 134px;padding: 10px 82px;background-color: #FFE6E6;border: 1px solid #CCB8B8;border-radius: 25px;text-align: center;}
    
    .wallet-info .recurring-amount {display: none;margin:30px 0; width:140px;padding: 10px 79px;background-color: #FFE6E6;border: #CCB8B8 1px solid;border-radius: 25px;}
    .wallet-info .recurring-amount:visited { color: black;}
    .wallet-info .recurring-amount.deposit {border: #C1CFB6 1px solid;}
}
   

.wallet-input { }
    .wallet-input div { float: left; width: 400px;margin: 15px 0;}
        .wallet-input div.remove{ float: right; }
    .wallet-input form { float: left;}
        .wallet-input form label  { float: left;width: 40%;}
        .wallet-input form input { float: left;width: 58%;}
        .wallet-input form .fund-submit { float: left;width: 100%;}

@media(max-device-width: 800px) {
        .wallet-input div{ width: 100%; }
        .wallet-input div.remove{ float: left;margin-top: 0; }
}

.cl{ clear: both;}
.hidden{ display: none;}