body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

h2{margin-bottom: 20px;}

#main{ margin: 1.5%;}

#container{float: left;border: 1px solid #C8C8C8;padding: 5px;border-radius: 5px;}

#create-a-wallet {float: left;background: #EAEAEA;padding: 15px;width: 300px;}
    #create-a-wallet label { float: left;font-weight: bold;padding-bottom: 10px;}
    #create-a-wallet input { float: left;width: 100%;}
    #create-a-wallet input.button { padding: 10px 0;}
    #create-a-wallet .submit-label { margin-top: 30px;}
    #create-a-wallet .error-text {float: left;color: red;}
    
#created { float: left;width: 30%;margin: 15% 0 0 35%;}
#created span { float: left;}
#created a { float: left;margin-top: 30px;}

.display-header{ padding: 10px 0 0 10px;}
.wallet-info { float: left;width: 40%;margin-left: 30%;}
    .wallet-info .available-funds{ float: left;padding: 200px 125px 50px 125px;background: #EAEAEA;border: 1px solid #c8c8c8; }
   

.wallet-input { float: left;width: 45%;margin:20px 0 0 27.5%;}
    .wallet-input form label  { float: left;width: 25%;}
    .wallet-input form input { float: left;}
    .wallet-input form .fund-submit { float: left;width: 35%;}

.cl{ clear: both;}