@model FundTracker.Web.ViewModels.TilesViewModel

<div class="tiles @Model.TileType">
    @foreach (var tile in Model.Tiles)
    {
        <div class="@Model.TileType-tile">
            <span>£<strong class="amount">@(0 - tile.Amount)</strong></span>
        </div>
    }
</div>