@model FundTracker.Web.ViewModels.WithdrawalTilesViewModel

<div class="tiles withdrawal">
    @foreach (var tile in Model.Tiles)
    {
        <div class="withdrawal-tile">
            <span>£<strong class="amount">@(0-tile.Amount)</strong></span>
        </div>
    }
</div>