@using FundTracker.Web.ViewModels
@model FundTracker.Web.ViewModels.WalletViewModel

@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{}

@{Html.RenderPartial("_Navigation", new List<NavigationLinkViewModel>());}

<h2 class="display-header">@Model.Name</h2>
@{Html.RenderPartial("_Calendar", @Model.DayViewModel);}
<div class="cl"></div>
<div class="wallet-info">
    <div class="funds">
        <a href="/RecurringChange/CreateDeposit/?walletName=@Model.Name&date=@Model.DayViewModel.SelectedDate.ToString("yyyy-MM-dd")" class="recurring deposit">New deposit</a>
        @{Html.RenderPartial("_RecurringAmount", Model.DepositAmountViewModel);}
        <a class="available-funds" href="/RecurringChange/Display?walletName=@Model.DepositAmountViewModel.WalletName&date=@Model.DepositAmountViewModel.Date">Available funds: £<strong id="available-funds-value">@Model.AvailableFunds</strong></a>
        @{Html.RenderPartial("_RecurringAmount", Model.WithdrawalAmountViewModel);}
        <a href="/RecurringChange/CreateWithdrawal/?walletName=@Model.Name&date=@Model.DayViewModel.SelectedDate.ToString("yyyy-MM-dd")" class="recurring withdrawal">New withdrawal</a>
    </div>
</div>
<div class="cl"></div>
@{
    Html.RenderPartial("_AdministerWallet");
}

@section Footer
{}
