@model FundTracker.Web.ViewModels.WalletViewModel

@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{}

<h2>Wallet</h2>

<div class="wallet-info">
    <h2 class="wallet-name">@Model.Name</h2>
    <span>Available funds: £</span>
    <strong id="available-funds">@Model.AvailableFunds</strong>
</div>
@{
    Html.RenderPartial("AdministerWallet");
}
