@model FundTracker.Web.ViewModels.WalletViewModel

@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{}

@{
    Html.RenderPartial("_Navigation");
}

<h2 class="display-header">Your Wallet</h2>

<div class="wallet-info">
    <h2 class="wallet-name">@Model.Name</h2>
    <div class="funds">
        <a class="recurring deposit">Add a recurring deposit</a>
        @{Html.RenderPartial("_DepositTiles");}
        <span class="available-funds">Available funds: £<strong id="available-funds-value">@Model.AvailableFunds</strong></span>
        @{Html.RenderPartial("_WithdrawalTiles", Model.WithdrawalTilesViewModel);}
        <a href="/Withdrawal/Create/?walletName=@Model.Name" class="recurring withdrawal">Add a recurring withdrawal</a>
    </div>
</div>
<div class="cl"></div>
@{
    Html.RenderPartial("_AdministerWallet");
}
