@model FundTracker.Web.ViewModels.WalletViewModel

@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{}

<h2 class="display-header">Your Wallet</h2>

<div class="wallet-info">
    <h2 class="wallet-name">@Model.Name</h2>
    <span class="available-funds">Available funds: £<strong>@Model.AvailableFunds</strong></span>
</div>
<div class="cl"></div>
@{
    Html.RenderPartial("AdministerWallet");
}
