@model FundTracker.Web.ViewModels.SuccessfullyCreatedWalletViewModel

@{
    ViewBag.Title = "Create a wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{
    <meta http-equiv="refresh" content="3;URL=/Wallet/DisplayNoFunds/?walletName=@Model.Name" />
}

<div id="created">
    <h2>Created a wallet</h2>
    <span>Way to go!</span>
    <div class="cl"></div>
    <a href="/Wallet/DisplayNoFunds/?walletName=@Model.Name">Click here if your browser doesn't redirect you ></a>
</div>
