<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="53463"/>
    <!--<add key="MongoConnectionString" value="mongodb://developer:creat10n@ds053109.mongolab.com:53109/appharbor_e752f405-e12c-4b27-ac06-25d741636009"/>-->
    <!--<add key="DatabaseName" value="appharbor_e752f405-e12c-4b27-ac06-25d741636009"/>-->
    <add key="MongoConnectionString" value="mongodb://localhost:27017"/>
    <add key="DatabaseName" value="local"/>
  </appSettings>
</configuration>